<!DOCTYPE html>
<html lang="en">

<head>
    <title>VỀ WOOWA</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
        integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous" />
    <link rel="stylesheet" href="/styles/about.css" />
</head>

<body>
    <div class="">
    <%- include('headerPartial') %>

        <div>
            <div class="mb-4">
                <div class="above-banner px-4 py-5">
                    <h1 class="title-banner pe-md-5"><b>WOOWA ADEX</b></h1>
                    <div class="content-banner">
                        Là một trong những công ty đầu tiên sử dụng
                        <b>nền tảng công nghệ Marketing</b> kết hợp giữa online và
                        offline. Giúp các đối tác quảng cáo thương hiệu thông qua các sản
                        phẩm quảng cáo như áo mưa, mũ bảo hiểm, hình ảnh,... Người tiêu
                        dùng sẽ tiếp cận dễ dàng hơn với đối tác
                    </div>
                </div>
            </div>
            <div class="mb-4">
                <div class="d-flex justify-content-center pb-3">
                    <h2>Câu chuyện của <b>Woowa</b></h2>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="ourstory d-lg-flex flex-lg-nowrap">
                        <div class="d-flex align-items-center justify-content-center mb-2 mb-lg-0 order-lg-2">
                            <img src="images/woowa 로고 .png" alt="" />
                        </div>
                        <div class="ourstory-content ms-sm-5 me-sm-5 p-3 order-lg-1">
                            <div>
                                <b>WOOWA ADEX</b> là chi nhánh mới được thành lập tại Đà Nẵng,
                                Việt Nam. Woowa Adex thuộc tập đoàn <b>WOOWAIN</b> ở Hàn Quốc
                                kinh doanh nhiều lĩnh vực, nổi bật là nền tảng công nghệ về
                                thề thao NFT, bất động sản NFT và nghệ thuật NFT.
                            </div>
                            <div>
                                Chi nhánh <b>Woowa Adex</b> tại Việt Nam được coi là bước
                                ngoặc mới, sử dụng những công nghệ trong lĩnh vực
                                <b>Online Digital Marketing</b> với chiến lược kinh doanh mới
                                kết hợp với kỹ thuật quảng cáo sáng tạo và công nghệ thông
                                tin.
                            </div>
                            <br />
                            <div><b>WOOWA ADEX</b> có 4 yếu tố cốt lõi kinh doanh:</div>
                        </div>
                    </div>
                </div>
                <div class="business-cores">
                    <div class="core-item">Phương tiện quảng cáo</div>
                    <div class="core-item">Nền tảng quảng cáo</div>
                    <div class="core-item">Hoạt động thành viên</div>
                    <div class="core-item">Phần thưởng</div>
                </div>
            </div>
            <div class="mb-4 patent">
                <div class="d-flex justify-content-center pb-3">
                    <h2>Bằng sáng chế và phát minh</h2>
                </div>
                <div class="patent-info">
                    <div class="patent-info-detail pe-md-4 pb-sm-2 text-justify mb-3 mb-md-0">
                        <div class="w-100 d-flex justify-content-center pb-2 text-decoration-underline">
                            Bằng sáng chế
                        </div>
                        <div>Số bằng sáng chế <b>10-2023-0028722</b></div>
                        <div>
                            Tên phát minh
                            <b>Hệ thống và phương pháp quảng cáo thông qua hội viên sử dụng
                                sản phẩm quảng cáo</b>
                        </div>
                        <div>Số bằng sáng chế quốc tế <b>PCT/KR2023/008220</b></div>
                        <div>
                            Tiến hành nộp đơn bằng sáng chế tại một số quốc gia như Việt
                            Nam, Indonesia, Thái Lan, Ấn Độ, Trung Quốc
                        </div>
                    </div>
                    <div class="horizontal mb-3 mb-md-0"></div>
                    <div class="patent-info-detail ps-md-4 pt-sm-2 text-justify">
                        <div class="w-100 d-flex justify-content-center text-decoration-underline">
                            Phát minh
                        </div>
                        <div>
                            Đây là hệ thống và phương pháp quảng cáo thông qua hội viên nhờ
                            các hội viên quảng cáo sử dụng các sản phẩm như áo mưa, mũ bảo
                            hiểm, quần áo, mũ, giầy dép,... có dán mã QR hoặc hình ảnh.
                            Những người tiêu dùng sẽ chụp ảnh hoặc scan các mã QR hoặc hình
                            ảnh này có thể được nhận thưởng
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-4 ads-solution">
                <div class="text-center pb-3">
                    <h2>Giải pháp kết nối quảng cáo</h2>
                    <div>
                        <small>Kết nối nhà quảng cáo và hội viên (online và offline)
                        </small>
                    </div>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="main-timeline">
                                <div class="timeline">
                                    <div href="#" class="timeline-content">
                                        <div class="timeline-icon">
                                            <i class="fas fa-rocket"></i>
                                        </div>
                                        <div class="timeline-step"><span>Bước</span>01</div>
                                        <h3 class="title">Phương tiện quảng cáo</h3>
                                        <p class="description">
                                            Mặc áo mưa in quảng cáo và di chuyển bằng xe máy để tối đa hoá quảng cáo trên đường phố
                                        </p>
                                    </div>
                                </div>
                                <div class="timeline">
                                    <div href="#" class="timeline-content">
                                        <div class="timeline-icon">
                                            <i class="fas fa-heartbeat"></i>
                                        </div>
                                        <div class="timeline-step"><span>Bước</span>02</div>
                                        <h3 class="title">Hoạt động quảng cáo</h3>
                                        <p class="description">
                                            Thông qua các hoạt động của hội viên như mang áo mưa đi xe máy và đăng tải hình ảnh, quét mã QR in trên áo mưa để xem video quảng cáo hoặc di chuyển đến liên kết đối tác
                                        </p>
                                    </div>
                                </div>
                                <div class="timeline">
                                    <div href="#" class="timeline-content">
                                        <div class="timeline-icon">
                                            <i class="fas fa-tachometer-alt"></i>
                                        </div>
                                        <div class="timeline-step"><span>Bước</span>03</div>
                                        <h3 class="title">Tối ưu quảng cáo</h3>
                                        <p class="description">
                                            Tối đa hoá quảng cáo bằng cách cung cấp sự kiện quảng cáo khác nhau cho các thành viên thông qua thông báo đẩy sự kiện và cung cấp phần thưởng khi chia sẻ nội dung quảng cáo qua SNS
                                        </p>
                                    </div>
                                </div>
                                <div class="timeline">
                                    <div href="#" class="timeline-content">
                                        <div class="timeline-icon">
                                            <i class="fas fa-gift"></i> 
                                        </div>
                                        <div class="timeline-step"><span>Bước</span>04</div>
                                        <h3 class="title">Phần thưởng tham gia</h3>
                                        <p class="description">
                                            Tặng các phần thưởng khác nhau cho mỗi hoạt động của hội viên, cung cấp các sản phẩm trải nghiệm của các doanh nghiệp đối tác để hội viên hoạt động tích cực
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('footerPartial') %>
 
</body>

</html>