<%- include('headerPartial')%>

<head>
    <title>Change Password</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous" />
    <link rel="stylesheet" href="/styles/update-profile.css" />
</head>
<section class="register_form" id="register_form">
    <div class="">
        <form class="registration-form" method="post" action="/changepassword" >
            <div class="d-flex justify-content-end fs-5 cursor-pointer" id="close1">
            </div>
            <h2>Change Password</h2>
            <% if (typeof errorMessage !=='undefined' && errorMessage) { %>
                <p style="color: red;" class="error-message">
                    <%= errorMessage %>
                </p>
                <% } %>

            <!-- Your form inputs go here -->
            <div class="text_field">
                <input type="password" id="oldPassword" name="oldPassword" required>
                <label>Old Password*</label>
            </div>
            <div class="text_field">
                <input type="password" id="newPassword" name="newPassword" required>
                <small id="error_newpassword"></small>

                <label>New Password*</label>
            </div>
            <div class="text_field">
                <input type="password" id="confirmPassword" name="confirmPassword" required>
                <small id="error_confirmPassword"></small>

                <label>Confirm New Password*</label>

            </div>
            <button class="btn btn-primary" type="submit">Change Password</button>
        </form>
    </div>
</section>

<script>
    const inputs = document.querySelectorAll('.text_field input');

    inputs.forEach(input => {
        const label = input.nextElementSibling;

        input.addEventListener('input', () => {
            if (input.value) {
                label.classList.add('non-empty');
            } else {
                label.classList.remove('non-empty');
            }
        });
    });


    $("#newPassword").on('keyup',function(){
        var password = $("#newPassword").val();

        var number = /([0-9])/;
        var alphabets = /([a-zA-Z])/;
        var special_characters = /([~,!,@,#,$,%,^,&,*,-,_,+,=,?,>,<])/;
        console.log(password);
        if (password.length == 0){
            $("#error_newpassword").text("Xin vui lòng nhập mật khẩu !").css('color', 'red');
            return false;
        }if ((password.length < 8)){
            $("#error_newpassword").text("Mật khẩu phải có tối thiểu 8 kí tự !").css('color', 'red');
        }else{
            if (password.match(number) && password.match(alphabets) && password.match(alphabets)){
            $("#error_newpassword").text("Bảo mật: mạnh").css('color','green')
            }
            else{
                $("#error_newpassword").text("Bảo mật: trung bình. Mật khẩu nên bao gồm cả chữ cái, số và kí tự đặc biệt").css('color', 'orange');
            }
        }
       
        
    });




    $(document).ready(function() {
        // Function to check if passwords match
        function checkPasswordMatch() {
            var newpassword = $("#newPassword").val();
            var confirmPassword = $("#confirmPassword").val();

            if (newpassword !== confirmPassword) {
                $("#error_confirmPassword").text("Passwords do not match").css('color', 'red');
            } else {
                $("#error_confirmPassword").text("Passwords match").css('color', 'green');
            }
        }

        // Attach keyup event to #confirmpassword field
        $("#confirmPassword").on('keyup', function() {
            checkPasswordMatch();
        });
    });
</script>
