<link rel="stylesheet" href="/styles/owl.carousel.min.css">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@latest/dist/sweetalert2.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
  integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous" />
<!-- Style -->
<link rel="stylesheet" href="/styles/footer.css" />

<footer class="footer-section">
    <div class="container">
      <div class="footer-cta pt-5 pb-5">
        <div class="row">
          <div class="col-xl-4 col-md-4 mb-30">
            <div class="single-cta">
              <i class="fas fa-map-marker-alt footer-icons"></i>
              <div class="cta-text">
                <h4>Trụ sở</h4>
                <span>472 Đường 2 tháng 9, Đà Nẵng</span>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-md-4 mb-30">
            <div class="single-cta">
              <i class="fas fa-phone footer-icons"></i>
              <div class="cta-text">
                <h4>Liên lạc</h4>
                <span>(+84) 905 123 456</span>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-md-4 mb-30">
            <div class="single-cta">
              <i class="far fa-envelope-open footer-icons"></i>
              <div class="cta-text">
                <h4>Thư điện tử</h4>
                <span>adex-support@woowa.com</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-content pt-5 pb-5">
        <div class="row">
          <div class="col-xl-4 col-lg-4 mb-50">
            <div class="footer-widget">
              <div class="footer-logo">
                <a href="/"><img src="/image/woowa_logo.png" class="img-fluid" alt="logo"></a>
              </div>
              <div class="footer-text">
                <p>Woowa Adex là công ty về lĩnh vực quảng cáo tích hợp công nghệ hiện đại. Kết hợp giữa quảng cáo
                  Online và Offline</p>
              </div>
              <div class="footer-social-icon">
                <span>Theo dõi chúng tôi</span>
                <a href="#"><i class="follow-icons fab fa-facebook-f facebook-bg"></i></a>
                <a href="#"><i class="follow-icons fab fa-twitter twitter-bg"></i></a>
                <a href="#"><i class="follow-icons fab fa-google-plus-g google-bg"></i></a>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
            <div class="footer-widget">
              <div class="footer-widget-heading">
                <h3>Về Woowa Adex</h3>
              </div>
              <ul>
                <li><a href="/">Trang chủ</a></li>
                <li><a href="/about">Về chúng tôi</a></li>
                <li><a href="/events">Sự kiện</a></li>
                <li><a href="#">Liên hệ</a></li>
                <!-- <li><a href="#">Contact</a></li>
                <li><a href="#">About us</a></li>
                <li><a href="#">Our Services</a></li>
                <li><a href="#">Expert Team</a></li>
                <li><a href="#">Contact us</a></li>
                <li><a href="#">Latest News</a></li> -->
              </ul>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
            <div class="footer-widget">
              <div>
                <div class="footer-widget-heading">
                  <h3>Tải ứng dụng trên điện thoại</h3>
                </div>
                <div class="mb-3">
                  <img src="/image/downloadappstore.png" height="50px" alt="">
                  <img src="/image/android-download.png" height="50px" alt="">
                </div>
                <!-- <div class="footer-text mb-25">
                  <p>Đăng ký để được nhận thông tin sự kiện, chương trình hấp dẫn qua mail</p>
                </div> -->
              </div>
              <div>
                <div class="footer-widget-heading">
                  <h3>Đăng ký để nhận thông tin</h3>
                </div>
                <!-- <div class="footer-text mb-25">
                  <p>Đăng ký để được nhận thông tin sự kiện, chương trình hấp dẫn qua mail</p>
                </div> -->
                <div class="subscribe-form">
                  <form action="#">
                    <input type="text" placeholder="Địa chỉ Email">
                    <button><i class="subscribe-icon fab fa-telegram-plane"></i></button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright-area">
      <div class="container">
        <div class="row">
          <div class="col-xl-6 col-lg-6 text-center text-lg-left">
            <div class="copyright-text">
              <p>Copyright &copy; 2023, Bản quyền thuộc về <b>Woowa Adex</b></p>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
            <div class="footer-menu">
              <ul>
                <li><a href="/">Trang Chủ</a></li>
                <li><a href="#">Điều Khoản</a></li>
                <li><a href="#">Bảo Mật</a></li>
                <li><a href="#">Chính Sách</a></li>
                <li><a href="#">Liên Hệ</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>