<!-- Required meta tags -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

<!-- Bootstrap CSS v5.2.1 -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
    integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous" />
<link rel="stylesheet" href="/styles/header.css" />

<body>

    <nav class="navbar">
        <a href="/"><img src="/image/woowa_logo.png" class="lg" height="50" /></a>
        <div class="d-flex align-items-center">
            <ul class="p-0 m-0">
                <li class="active"><a href="/">Trang chủ</a></li>
                <li><a href="/events">Sự Kiện</a></li>
                <li><a href="/giftshop">Cửa Hàng đổi thưởng</a></li>
                <li><a href="/about">Về chúng tôi</a></li>
                <li></li>
            </ul>
            <div class="d-flex align-items-center">
                <div class="position-relative pe-4">
                    <i class="far fa-bell fs-5"></i>
                </div>
                <div>
                    <div class="cursor-pointer user-info-dropdown" tabindex="0">
                        <img class="rounded-circle" src="/image/istockphoto-1371797889-612x612.jpg" height="50px"
                            srcset="" />
                        <div class="dropdown-user-window" id="dropdown-user">
                            <a href="/profile"><div> 
                                <i class="fas fa-user"></i> Thông tin cá nhân
                            </div></a>
                            <a href="/change-password"> <div>
                                <i class="fas fa-lock"></i> Đổi mật khẩu
                            </div></a>
                            <a href="/logout"> <div>
                                <i class="fas fa-sign-out-alt"></i> Đăng xuất
                            </div></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </nav>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script type="text/javascript">


        const dropdown = document.querySelector(".user-info-dropdown");
        const dropdownWindow = document.querySelector(".dropdown-user-window");

        dropdown.addEventListener("click", (event) => {
            event.stopPropagation(); // Prevent the click event from bubbling to the body and closing the dropdown immediately
            dropdownWindow.classList.toggle("active");
        });

        // Close the dropdown when clicking outside of it
        document.body.addEventListener("click", (event) => {
            if (!dropdown.contains(event.target)) {
                dropdownWindow.classList.remove("active");
            }
        });

    </script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.1.1/js/all.js"
        integrity="sha384-BtvRZcyfv4r0x/phJt9Y9HhnN5ur1Z+kZbKVgzVBAlQZX4jvAuImlIz+bG7TS00a"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
        crossorigin="anonymous"></script>
</body>

</html>