<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/styles/owl.carousel.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@latest/dist/sweetalert2.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
        integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous" />
    <!-- Style -->
    <link rel="stylesheet" href="/styles/homepage.css" />
    <title>Website Menu #4</title>
</head>

<body>


    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"><i class="fas fa-times    "></i></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>


    <div class="top-bar">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <a href="#" class="">
                        <i class="far fa-envelope-open me-2"></i>
                        <!-- <span class="mr-2  icon-envelope-open-o"></span>  -->
                        <span class="d-none d-md-inline-block">adex-support@woowa.com</span>
                    </a>
                    <span class="mx-md-2 d-inline-block"></span>
                    <a href="#" class="">
                        <i class="fas fa-phone me-2"></i>
                        <span class="d-none d-md-inline-block">(+84) 905 123 456</span>
                    </a>
                    <div class="float-end">
                        <a href="#" class="">
                            <i class="fab fa-twitter me-2  "></i>
                            <span class="d-none d-md-inline-block">Twitter</span></a>
                        <span class="mx-md-2 d-inline-block"></span>
                        <a href="#" class="">
                            <i class="fab fa-facebook-f me-2  "></i>
                            <span class="d-none d-md-inline-block">Facebook</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <header class="site-navbar js-sticky-header site-navbar-target" role="banner">
        <div class="row justify-content-between align-items-center position-relative mx-md-3">
            <div class="col-auto toggle-button d-inline-block d-lg-none"><a href="#"
                    class="site-menu-toggle py-5 js-menu-toggle text-black"><span><i
                            class="fas fa-bars fs-3 text-maincolor"></i></span></a></div>
            <div class="col-auto site-logo">
                <!-- <a href="index.html" class="text-black"><span class="text-primary">Brand</a> -->
                <img src="/image/woowa_logo.png" class="lg" height="50" />
            </div>

            <div class="col-auto d-none d-lg-flex">
                <nav class="site-navigation text-right ml-auto " role="navigation">

                    <ul class="site-menu main-menu js-clone-nav ml-auto d-none d-lg-flex align-items-center">
                        <li><a href="/" class="nav-link active">Trang chủ</a></li>
                        <!-- <li><a href="#services-section" class="nav-link">Dịch vụ</a></li> -->
                        <li><a href="/events" class="nav-link">Sự kiện</a></li>
                        <li><a href="/about" class="nav-link">Về chúng tôi</a></li>
                        <% if (user) { %>
                            <li></li>
                            <li class="has-children ps-3 nav-item dropdown">
                                <% if (typeof profileImage !=='undefined' && profileImage) { %>
                                    <!-- Display user's uploaded image from the uploads folder -->
                                    <!-- <img class="rounded-circle" src="/uploads/<%= profileImage %>" alt="Member Avatar" height="50" width="50"> -->


                                        <div class="d-flex align-items-center nav-link dropdown-toggle"  role="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                          <img class="rounded-circle ms-md-5"
                                          src="/uploads/<%= profileImage %>" height="46px" srcset="">
                                          <span class="ps-3 w-100"><%= user.username%></span>
                                        </div>

                                    <% } else { %>
                                        <!-- Display default avatar image -->
                                            <div class="d-flex align-items-center nav-link dropdown-toggle"  role="button"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                              <img class="rounded-circle ms-md-5"
                                              src="images/istockphoto-1371797889-612x612.jpg" height="46px" srcset="">
                                              <span class="ps-3 w-100"><%= user.username%></span>
                                            </div>

                                        <% } %>
                                            <ul class="dropdown-menu">
                                                <li><a href="/profile" class="dropdown-item"><i
                                                            class="fas fa-user"></i>Thông tin cá nhân</a></li>
                                                <li><a href="/change-password" class="dropdown-item"><i
                                                            class="fas fa-lock"></i> Đổi mật khẩu</a></li>
                                                <li>
                                                    <hr class="dropdown-divider">
                                                </li>
                                                <li><a href="/logout" class="dropdown-item"><i
                                                            class="fas fa-sign-out-alt"></i> Đăng xuất</a></li>

                                            </ul>
                            </li>


                            <% } else { %>
                                <li class="ps-md-5">
                                    <a href="/login" class="nav-link fs-6">Đăng nhập</a>
                                    <a href="/signup" class="nav-link fs-6">Đăng ký</a>
                                </li>
                                <% } %>




                    </ul>
                </nav>

            </div>
            <div class="col-auto toggle-button d-inline-block d-md-none">
                <% if (user) { %>
                    <% } else { %><a href="/login" class="site-menu-toggle py-5 text-black"><button
                                class="btn btn-sm btn-primary"
                                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Đăng
                                nhập</button></a>
                        <% } %>
            </div>
        </div>
    </header>



    <!-- <div class="hero" style="background-image: url('/image/hero_1.jpg');"></div> -->
    <div>
        <div class="countdown-elem">
            <img src="/image/poster_ngang.png" width="100%" ; height="80%">
            <div class="countdown d-none d-md-block">
                <h1 id="headline">Coming soon</h1>
                <div id="countdown">
                    <ul>
                        <li><span id="days"></span>Ngày</li>
                        <li><span>:</span>&nbsp;</li>
                        <li><span id="hours"></span>Giờ</li>
                        <li><span>:</span>&nbsp;</li>
                        <li><span id="minutes"></span>Phút</li>
                        <li><span>:</span>&nbsp;</li>
                        <li><span id="seconds"></span>Giây</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="video-elem" height="1000px">
            <div class="video">
                <h1 class="blur-title">Woowa Adex</h1>
                <h2 class="main-title threeDimension mb-4">Woowa Adex</h2>
                <div class="d-flex align-items-center justify-content-center">
                    <p class="mb-4 w-75">
                        <span class="fw-bold text-maincolor">Woowa Adex</span> là một ứng dụng công nghệ quảng cáo, kết
                        hợp giữa
                        việc quảng cáo Online và Offline. Tăng hiệu quả quảng cáo đến người dùng cũng như giúp cho các
                        đối tác phổ
                        biển với người dùng nhiều hơn
                    </p>
                </div>
                <video class="video-play" playsinline autoplay muted loop>
                    <source src="video/intro-video.mp4" type="video/mp4">
                    <source src="mov_bbb.ogg" type="video/ogg">
                    Trình duyệt của bạn không được hỗ trợ
                </video>
            </div>
        </div>


        <div class="clients">
            <div class="cli">
                <div class="sec-heading">
                    <h1 class="blur-title">Đối tác</h1>
                    <h2 class="main-title threeDimension mb-4">Đối tác</h2>
                    <div class="d-flex align-items-center justify-content-center">
                        <p class="mb-4 w-75 text-center">
                            Danh sách <span class="fw-bold text-maincolor">đối tác Woowa Adex</span> hiện đang kết nối
                        </p>
                    </div>
                </div>

                <div class="owl-carousel owl-theme clients-carousel">
                    <div class="item-box">
                        <img src="/image/hyund.png" alt="" class="client-img">
                    </div>
                    <div class="item-box">
                        <img src="/image/LG logo.png" alt="" class="client-img">
                    </div>
                    <div class="item-box">
                        <img src="/image/samsung.png" alt="" class="client-img">
                    </div>
                    <div class="item-box">
                        <img src="/image/kia.png" alt="" class="client-img">
                    </div>
                    <div class="item-box">
                        <img src="/image/sm.png" alt="" class="client-img">
                    </div>
                    <div class="item-box">
                        <img src="/image/yg.png" alt="" class="client-img">
                    </div>
                    <div class="item-box">
                        <img src="/image/kepco.png" alt="" class="client-img" style="padding-left: 25px">
                    </div>
                    <div class="item-box">
                        <img src="/image/cj.png" alt="" class="client-img">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer-section">
        <div class="container">
            <div class="footer-cta pt-5 pb-5">
                <div class="row">
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="fas fa-map-marker-alt footer-icons"></i>
                            <div class="cta-text">
                                <h4>Trụ sở</h4>
                                <span>472 Đường 2 tháng 9, Đà Nẵng</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="fas fa-phone footer-icons"></i>
                            <div class="cta-text">
                                <h4>Liên lạc</h4>
                                <span>(+84) 905 123 456</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="far fa-envelope-open footer-icons"></i>
                            <div class="cta-text">
                                <h4>Thư điện tử</h4>
                                <span>adex-support@woowa.com</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-content pt-5 pb-5">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 mb-50">
                        <div class="footer-widget">
                            <div class="footer-logo">
                                <a href="/"><img src="/image/woowa_logo.png" class="img-fluid" alt="logo"></a>
                            </div>
                            <div class="footer-text">
                                <p>Woowa Adex là công ty về lĩnh vực quảng cáo tích hợp công nghệ hiện đại. Kết hợp giữa
                                    quảng cáo
                                    Online và Offline</p>
                            </div>
                            <div class="footer-social-icon">
                                <span>Theo dõi chúng tôi</span>
                                <a href="#"><i class="follow-icons fab fa-facebook-f facebook-bg"></i></a>
                                <a href="#"><i class="follow-icons fab fa-twitter twitter-bg"></i></a>
                                <a href="#"><i class="follow-icons fab fa-google-plus-g google-bg"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                        <div class="footer-widget">
                            <div class="footer-widget-heading">
                                <h3>Về Woowa Adex</h3>
                            </div>
                            <ul>
                                <li><a href="/">Trang chủ</a></li>
                                <li><a href="/about">Về chúng tôi</a></li>
                                <li><a href="/events">Sự kiện</a></li>
                                <li><a href="#">Liên hệ</a></li>
                                <!-- <li><a href="#">Contact</a></li>
                <li><a href="#">About us</a></li>
                <li><a href="#">Our Services</a></li>
                <li><a href="#">Expert Team</a></li>
                <li><a href="#">Contact us</a></li>
                <li><a href="#">Latest News</a></li> -->
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                        <div class="footer-widget">
                            <div>
                                <div class="footer-widget-heading">
                                    <h3>Tải ứng dụng trên điện thoại</h3>
                                </div>
                                <div class="mb-3">
                                    <img src="/image/downloadappstore.png" height="50px" alt="">
                                    <img src="/image/android-download.png" height="50px" alt="">
                                </div>
                                <!-- <div class="footer-text mb-25">
                  <p>Đăng ký để được nhận thông tin sự kiện, chương trình hấp dẫn qua mail</p>
                </div> -->
                            </div>
                            <div>
                                <div class="footer-widget-heading">
                                    <h3>Đăng ký để nhận thông tin</h3>
                                </div>
                                <!-- <div class="footer-text mb-25">
                  <p>Đăng ký để được nhận thông tin sự kiện, chương trình hấp dẫn qua mail</p>
                </div> -->
                                <div class="subscribe-form">
                                    <form action="#">
                                        <input type="text" placeholder="Địa chỉ Email">
                                        <button><i class="subscribe-icon fab fa-telegram-plane"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                        <div class="copyright-text">
                            <p>Copyright &copy; 2023, Bản quyền thuộc về <b>Woowa Adex</b></p>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                        <div class="footer-menu">
                            <ul>
                                <li><a href="#">Trang Chủ</a></li>
                                <li><a href="#">Điều Khoản</a></li>
                                <li><a href="#">Bảo Mật</a></li>
                                <li><a href="#">Chính Sách</a></li>
                                <li><a href="#">Liên Hệ</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script defer src="https://use.fontawesome.com/releases/v5.1.1/js/all.js"
        integrity="sha384-BtvRZcyfv4r0x/phJt9Y9HhnN5ur1Z+kZbKVgzVBAlQZX4jvAuImlIz+bG7TS00a"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@latest/dist/sweetalert2.min.js"></script>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/jquery.sticky.js"></script>
    <script src="/js/main.js"></script>
    <script src="/homepage.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.1.1/js/all.js"
        integrity="sha384-BtvRZcyfv4r0x/phJt9Y9HhnN5ur1Z+kZbKVgzVBAlQZX4jvAuImlIz+bG7TS00a"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
        crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(".clients-carousel").owlCarousel({
            autoplay: true,
            loop: true,
            margin: 5,
            dots: false,
            slideTransition: 'linear',
            autoplayTimeout: 4500,
            autoplayHoverPause: true,
            autoplaySpeed: 4500,
            autoWidth: true,
            margin: 70,
            responsive: {

                1: {
                    item: 1
                },
                0: {
                    item: 2
                },

                500: {
                    items: 3
                },

                600: {
                    items: 4
                },
                800: {
                    items: 4
                },
                1200: {
                    items: 4
                },
            }
        });
    </script>
    <!-- Add this script to display the registration alert -->
    <% if (typeof registrationSuccess !=='undefined' && registrationSuccess) { %>
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                setTimeout(function () {
                    // Thay thế modal bằng thông báo SweetAlert2
                    Swal.fire({
                        imageUrl: '/image/rocket1.png', // Thay đổi đường dẫn tới hình ảnh thành công
                        imageWidth: 100,
                        imageHeight: 100,
                        imageAlt: 'Success Icon',
                        title: 'Registration Successful',
                        text: 'Congratulations! Your registration has been successful.',
                        confirmButtonText: 'OK',
                        customClass: {
                            title: 'custom-title-class', // Tên lớp CSS tùy chỉnh cho tiêu đề
                        }
                    }).then((result) => {
                        if (result.isConfirmed) {
                            // Nếu người dùng bấm nút "OK", chuyển hướng sang trang đăng nhập
                            window.location.href = "/login";
                        }
                    });
                }, 500);
            });
        </script>
        <% } %>
            <!-- Add this script to display the login alert -->
            <% if (typeof resetpassmmessage !=='undefined' && resetpassmmessage !=null ) { %>
                <script>
                    document.addEventListener("DOMContentLoaded", function () {
                        setTimeout(function () {
                            // Thay thế modal bằng thông báo SweetAlert2
                            Swal.fire({
                                imageUrl: '/image/rocket1.png', // Thay đổi đường dẫn tới hình ảnh thành công
                                imageWidth: 100,
                                imageHeight: 100,
                                imageAlt: 'Success Icon',
                                title: 'Mã đã gửi đến mail của bạn',
                                text: 'Vui lòng truy cập email để xác nhận.',
                                confirmButtonText: 'OK',
                                customClass: {
                                    title: 'custom-title-class', // Tên lớp CSS tùy chỉnh cho tiêu đề
                                }

                            });
                        }, 500);
                    });
                </script>
                <% } %>
                    <% if (typeof resetmessage !=='undefined' && resetmessage !=null ) { %>
                        <script>
                            document.addEventListener("DOMContentLoaded", function () {
                                setTimeout(function () {
                                    // Thay thế modal bằng thông báo SweetAlert2
                                    Swal.fire({
                                        imageUrl: '/image/rocket1.png', // Thay đổi đường dẫn tới hình ảnh thành công
                                        imageWidth: 100,
                                        imageHeight: 100,
                                        imageAlt: 'Success Icon',
                                        title: 'Đã đổi mật khẩu thành công',
                                        text: 'Đăng nhập ngay.',
                                        confirmButtonText: 'OK',
                                        customClass: {
                                            title: 'custom-title-class', // Tên lớp CSS tùy chỉnh cho tiêu đề
                                        }

                                    }).then((result) => {
                                        if (result.isConfirmed) {
                                            // Nếu người dùng bấm nút "OK", chuyển hướng sang trang đăng nhập
                                            window.location.href = "/login";
                                        }
                                    });
                                }, 500);
                            });
                        </script>
                        <% } %>
                            <!-- Modal for Registration Success -->
                            <style>
                                .custom-title-class {
                                    color: rgb(17, 0, 255);
                                    /* Thay đổi màu tiêu đề thành màu đỏ */
                                    font-size: 24px;
                                    /* Tùy chỉnh kích thước font của tiêu đề */
                                }
                            </style>

</body>

</html>