@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    background-image: url(images/background.jpg);
    background-repeat: repeat;
    background-size: contain;
    font-family: 'Josefin Sans', sans-serif;
}

.navbar {
    width: 100%;
    margin: auto;
    padding: 5px 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: black;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}


.navbar ul li:hover::after {
    width: 100%;
}


.dropdown-user-window {
    position: absolute;
    right: 40px;
    background-color: white;
    border-radius: 20px;
    /* padding: 10px 20px; */
    margin-top: 5px;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
    display: none;
    visibility: hidden;
}

.dropdown-user-window.active {
    display: block;
    visibility: visible;
    z-index: 5;
}

.dropdown-user-window div {
    padding: 7px 0px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.dropdown-user-window div:first-child:hover {
    background-color: #ededed;
    border-radius: 20px 20px 0 0;
}

.dropdown-user-window div:last-child:hover {
    background-color: #ededed;
    border-radius: 0 0 20px 20px;
}

.dropdown-user-window div:hover {
    background-color: #ededed;
    /* font-weight: bold; */
}

.dropdown-user-window div a {
    text-decoration: none;
    color: black;
}

.cursor-pointer {
    cursor: pointer;
}

.banner-intro {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0044ab2d;
}

.cover-banner {
    position: absolute;
    background: #f0f8ffa2;
    height: 400px;
    width: 100%;
}

.above-banner {
    z-index: 1;
    position: absolute;
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-banner {
    font-size: 80px;
    color: #0043ab;
    transform: skewY(-5deg);
    font-style: oblique;
}

.content-banner {
    font-size: 25px;
}

.ourstory-content {
    /* border: 1px solid black; */
    border-radius: 20px;
    background-color: #f8f8f8;
}

.ourstory {
    width: 60%;
    display: flex;
    justify-content: space-around;
}

.business-cores {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.business-cores .core-item {
    margin: 0px 25px
}

.core-item {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    background-color: orange;
    color: white;
    font-weight: bold;
    padding: 0 20px;
    justify-content: center;
}

.patent {
    background-color: #0043ab;
    color: #ffffff;
    padding: 30px;
}

.patent-info {
    display: flex;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
}

.patent-info-detail {
    width: 50%;
    line-height: 30px;
}

.horizontal {
    border: 1px solid #ffffff78;
}

.text-justify {
    text-align: justify;
}
/* Timeline CSS */
.main-timeline:after {
    content: '';
    display: block;
    clear: both;
}

.main-timeline .timeline {
    width: calc(50% + 30px);
    padding: 0 80px 0 0;
    float: left;
    position: relative;
    z-index: 1;
}

.main-timeline .timeline-content {
    color: #666;
    background: #fff;
    min-height: 130px;
    padding: 20px 20px 20px 80px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    display: block;
    z-index: 0;
}

.main-timeline .timeline-content:hover {
    text-decoration: none;
}

.main-timeline .timeline-content:after {
    content: '';
    background: linear-gradient(#0290C2, #006BA4);
    width: 50%;
    border-radius: 50px;
    position: absolute;
    right: 0;
    top: 2px;
    bottom: 2px;
    z-index: -1;
}

.main-timeline .timeline-icon {
    color: #006BA4;
    font-size: 35px;
    line-height: 35px;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: 18px;
}

.main-timeline .timeline-step {
    color: #fff;
    font-size: 42px;
    line-height: 40px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    right: 16px;
}

.main-timeline .timeline-step span {
    font-size: 18px;
    line-height: 22px;
    display: block;
}

.main-timeline .title {
    font-size: 19px;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

.main-timeline .title:after {
    content: '';
    background-color: #006BA4;
    height: 3px;
    width: 100px;
    margin: 10px auto;
    display: block;
    clear: both;
}

.main-timeline .description {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.7px;
    line-height: 18px;
    margin: 0;
}

.main-timeline .timeline:nth-child(even) {
    float: right;
    padding: 0 0 0 80px;
}

.main-timeline .timeline:nth-child(even) .timeline-content {
    padding: 20px 70px 20px 25px;
}

.main-timeline .timeline:nth-child(even) .timeline-content:after {
    right: auto;
    left: 0;
}

.main-timeline .timeline:nth-child(even) .timeline-icon {
    left: auto;
    right: 17px;
}

.main-timeline .timeline:nth-child(even) .timeline-step {
    right: auto;
    left: 16px;
}

.main-timeline .timeline:nth-child(4n+2) .timeline-content:after {
    background: linear-gradient(#8521b7, #4151A9);
}

.main-timeline .timeline:nth-child(4n+2) .timeline-icon {
    color: #4151A9;
}

.main-timeline .timeline:nth-child(4n+2) .title:after {
    background: #4151A9;
}

.main-timeline .timeline:nth-child(4n+3) .timeline-content:after {
    background: linear-gradient(#C364CF, #7F47A0);
}

.main-timeline .timeline:nth-child(4n+3) .timeline-icon {
    color: #7F47A0;
}

.main-timeline .timeline:nth-child(4n+3) .title:after {
    background: #7F47A0;
}

.main-timeline .timeline:nth-child(4n+4) .timeline-content:after {
    background: linear-gradient(#FF449D, #F957D9);
}

.main-timeline .timeline:nth-child(4n+4) .timeline-icon {
    color: #F957D9;
}

.main-timeline .timeline:nth-child(4n+4) .title:after {
    background: #F957D9;
}


@media screen and (max-width:992px) {
    .ourstory {
        width: 100%;
        display: block;
        /* justify-content: space-around; */
    }

    .above-banner {
        z-index: 1;
        position: absolute;
        /* height: 400px; */
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .title-banner {
        font-size: 60px;
        color: #0043ab;
        transform: none;
        font-style: normal;
    }
}

@media screen and (max-width:767px) {
    .main-timeline .timeline {
        width: 100%;
        margin: 0 0 30px;
    }

    .title-banner {
        font-size: 50px;
        color: #0043ab;
        transform: none;
        font-style: normal;
    }

    .patent-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* width: 70%; */
        margin: 0 auto;
    }

    
    .patent-info-detail {
        width: 100%;
        line-height: 30px;
    }
}

@media screen and (max-width:576px) {

    .main-timeline .timeline,
    .main-timeline .timeline:nth-child(even) {
        padding: 80px 0 0;
    }

    .main-timeline .timeline-content,
    .main-timeline .timeline:nth-child(even) .timeline-content {
        padding: 20px 20px 70px 20px;
        border-radius: 20px;
    }

    .main-timeline .timeline-content:after,
    .main-timeline .timeline:nth-child(even) .timeline-content:after {
        width: 100%;
        border-radius: 20px;
        top: 0;
        bottom: 50px;
    }

    .main-timeline .timeline-icon,
    .main-timeline .timeline:nth-child(even) .timeline-icon {
        transform: translateY(0) translateX(-50%);
        left: 50%;
        right: auto;
        top: auto;
        bottom: 17px;
    }

    .main-timeline .timeline-step,
    .main-timeline .timeline:nth-child(even) .timeline-step {
        transform: translateY(0) translateX(-50%);
        left: 50%;
        right: auto;
        top: 11px;
    }
}
/* Timeline CSS */