@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    font-family: 'Josefin Sans', sans-serif !important;
}

.form-bg {
    height: 100vh;
    background-color: #e5ecf6;
}

.form-container {
    height: 100%;
    width: 100%;
    background-color: #fff;
    font-size: 0;
    box-shadow: 0 0 25px -15px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}

.form-container .left-content {
    
    background-color: #0043AB;
    width: 40%;
    height: 100%;
    padding: 66px 46px;
    display: inline-block;
    border-radius: 20px 0 0 20px;
    vertical-align: top;
}

.form-container .left-content .title {
    color: white;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0 0 55px;
}

.form-container .left-content .sub-title {
    color: white;
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0;
}

.form-container .right-content {
    text-align: center;
    width: 60%;
    padding: 20px 40px;
    display: inline-block;
}

.form-container .right-content .form-title {
    color: #0043AB;
    font-size: 40px;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    padding: 0 0 2px;
    margin: 0 0 30px;
    border-bottom: 2px solid #0043AB;
}

.form-container .right-content .form-horizontal {
    color: #999;
    font-size: 14px;
    text-align: left;
    /* margin: 0 0 15px; */
}

.form-container .form-horizontal .form-group {
    margin: 0 0 10px;
}

.form-container .form-horizontal .form-group .icontoggle {
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    bottom: 24px;
    left: 17px;
}

.form-container .form-horizontal .form-group label {
    font-weight: 500;
}

.form-container .form-horizontal .form-group small {
    display: block;
    color: red;
    height: 12px;
}

.form-container .form-horizontal .form-control {
    color: #888;
    background: #f9f9f9;
    font-weight: 400;
    letter-spacing: 1px;
    height: 40px;
    padding: 6px 12px;
    border-radius: 5px;
    border: none;
    box-shadow: none;
}


.form-container .form-horizontal .form-control.error {
    border: 1px solid red;
}

.form-container .form-horizontal .form-control.success {
    border: 1px solid green;
}

.form-container .form-horizontal .form-control:focus {
    box-shadow: 0 0 5px #0043AB;
}

.form-container .form-horizontal .signin {
    color: #fff;
    background: linear-gradient(to right, #6492dd, #0043AB);
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    width: 100%;
    padding: 9px 11px;
    margin: 0 0 20px;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
}

.form-container .form-horizontal .btn:hover,
.form-container .form-horizontal .btn:focus {
    box-shadow: 0 0 10px #0043AB;
    outline: none;
}

.form-container .form-horizontal .remember-me {
    width: calc(100% - 105px);
    display: inline-block;
}

.form-container .form-horizontal .remember-me .check-label {
    color: #999;
    font-size: 12px;
    font-weight: 400;
    vertical-align: top;
    display: inline-block;
}

.form-container .form-horizontal .remember-me .checkbox {
    height: 17px;
    width: 17px;
    min-height: auto;
    margin: 0 1px 0 0;
    border: 2px solid #0043AB;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    transition: all 0.3s ease 0s;
}

.form-container .form-horizontal .remember-me .checkbox:before {
    content: '';
    height: 5px;
    width: 10px;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    transform: rotate(-45deg);
    position: absolute;
    left: 2px;
    top: 2.5px;
    transition: all 0.3s ease;
}

.form-container .form-horizontal .remember-me .checkbox:checked {
    background-color: #0043AB;
}

.form-container .form-horizontal .remember-me .checkbox:checked:before {
    opacity: 1;
}

.form-container .form-horizontal .remember-me .checkbox:not(:checked):before {
    opacity: 0;
}

.form-container .form-horizontal .remember-me .checkbox:focus {
    outline: none;
}

.form-container .form-horizontal .forgot {
    color: #999;
    font-size: 12px;
    text-align: right;
    width: 100px;
    vertical-align: top;
    display: inline-block;
    transition: all 0.3s ease 0s;
}

.form-container .form-horizontal .forgot:hover {
    text-decoration: underline;
}

.form-container .right-content .separator {
    color: #999;
    font-size: 15px;
    text-align: center;
    margin: 0 0 15px;
    display: block;
}


.form-container .right-content .social-links {
    text-align: center;
    padding: 0;
    margin: 0 0 25px;
    list-style: none;
}

.form-container .right-content .social-links li {
    margin: 0 5px 5px;
    display: inline-block;
}

.form-container .right-content .social-links li a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    padding: 9px 12px;
    border-radius: 5px;
    display: block;
    transition: all 0.3s ease 0s;
}

.form-container .right-content .social-links li img {
    height: 30px;
    width: 30px;
}



.form-container .right-content .social-links li a:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.form-container .right-content .signup-link {
    color: #999;
    font-size: 13px;
}

.form-container .right-content .signup-link a {
    color: #0043AB;
    transition: all 0.3s ease 0s;
}

.form-container .right-content .signup-link a:hover {
    text-decoration: underline;
}

@media only screen and (max-width:767px) {

    .form-container .left-content,
    .form-container .right-content {
        width: 100%;
        padding: 30px;
    }

    .form-container .left-content .title {
        margin: 0 0 20px;
    }

    .form-container .left-content .sub-title {
        font-size: 40px;
    }
}

.icon-eye {
    position: relative;
}

.error{
    border-style: solid;
    border-color: red;
}

.done{
    border-style: solid;
    border-color: green;
}